* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-border-input-overline: #3366CC;
    --color-border-input: rgb(199, 199, 199);
}

.simple-range {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 4em;
    max-height: 4em;
    width: max-content;
    position: relative;
    padding: .3em;
    position: relative;
}

.simple-range__input-values {
    border-radius: .3em;
    border: 1px solid var(--color-border-input);
    height: 100%;
    outline-color: var(--color-border-input-overline);
    padding: .2em;
    padding-left: .4em;
    width: 3.8em;
    font-size: 1.5em;
}

.simple-range__span {
    font-size: 1.6em;
    position: absolute;
    top: 20%;
    right: 6%;
}

.simple-range__controls {
    display: flex;
    flex-direction: column;
    height: max-content;
    position: absolute;
    right: -10%;
    bottom: 1%;
}

.arrow-up, .arrow-down {
    color: var(--color-border-input-overline);
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    line-height: 10px;
    background-color: transparent;
    padding: .3em;
}

.arrow-up {
    transform: rotate(90deg);
}

.arrow-down {
    transform: rotate(90deg);
}

.arrow-up:active, .arrow-down:active {
    transform: scale(.8) rotate(90deg);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}