* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color-dark: rgb(31, 31, 31);
    --background-color-white: white;
    --background-hover-option: #3366CC;
    --color-border-input: rgb(199, 199, 199);
    --color-text-light: white;
    --color-text-normal: rgb(31, 31, 31);
    --color-text-placeholder: rgb(102, 102, 102);
}

/* RETIRAR BODY PARA IMPLEMENTAR */
body {
    background-color: var(--background-color-dark);
    height: 100%;
    width: 100%;
}

/* SIMSELECT */
.simselect {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 4em;
    max-height: 4em;
    width: 100%;
    position: relative;
}

/* CABECERA */
.simselect-header {
    background-color: var(--background-color-white);
    border-radius: .4em;
    border: 1px solid var(--color-border-input);
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 1em;
    text-align: center;
    width: 100%;
}

.simselect-input {
    border: none;
    color: var(--color-text-normal);
    cursor: pointer;
    font-size: 1.5em;
    outline: none;
    width: 100%;
}

.simselect-input::placeholder {
    color: var(--color-text-placeholder);
}

.simselect-icon {
    cursor: pointer;
    margin-top: 1em;
    margin-right: .3em;
}

/* OPTIONS */
.simselect-options {
    background-color: var(--background-color-white);
    border-radius: .3em;
    border: 1px solid var(--color-border-input);
    height: 30em;
    overflow: hidden;
    padding: .5em;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.simselect-filter {
    border: 1px solid var(--color-border-input);
    border-radius: .3em;
    font-size: 1.5em;
    height: 2em;
    outline-color: var(--background-hover-option);
    padding: 0 .5em;
    width: 100%;
}

.simselect-option-container {
    height: 92%;
    overflow-y: scroll;
    width: 100%;
}

.simselect__option {
    cursor: pointer;
    font-size: 1.5em;
    height: 1.8em;
    line-height: 2em;
    padding-left: .5em;
}

@media (hover: hover) {
    .simselect__option:hover {
        background-color: var(--background-hover-option);
        color: var(--color-text-light);
    }
}

/* GENERALES */
.simselect-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}